<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.todoit.api.mapper.WorkMapper">
    <resultMap id="user" type="java.util.HashMap">
        <id column="user_id" property="id"/>
        <result column="nickname" property="nickname" />
    </resultMap>
    <resultMap id="work" type="kr.todoit.api.dto.WorkFindResponse">
        <id column="work_id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="start_date" property="start"/>
        <result column="end_date" property="end"/>
        <result column="theme_color" property="color"/>
        <result column="is_finished" property="isFinished"/>
        <collection resultMap="user" property="users"/>
    </resultMap>

    <select id="findWorksByOptions" parameterType="kr.todoit.api.dto.WorkFindRequest" resultMap="work">
        select u.id as user_id, u.nickname, w.id as work_id, w.title, w.theme_color, w.content, w.start_date, w.end_date,
        if(w.is_finished = 0, 0, 1) as is_finished
        from work_groups wg
                 left join users u on wg.user_id = u.id
                 left join works w on wg.work_id = w.id
                 left join workspaces ws on wg.workspace_id = ws.id
        <if test="workspaceId != null">where workspace_id = #{workspaceId}</if>
        <if test="workspaceId == null and workspaceCode">where ws.code = #{workspaceCode}</if>
    </select>
</mapper>