@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'apple-h';
  src: url(../fonts/AppleSDGothicNeoH.ttf);
}
@font-face {
  font-family: 'apple-b';
  src: url(../fonts/AppleSDGothicNeoB.ttf);
}
@font-face {
  font-family: 'apple-r';
  src: url(../fonts/AppleSDGothicNeoR.ttf);
}
@font-face {
  font-family: 'apple-l';
  src: url(../fonts/AppleSDGothicNeoL.ttf);
}
@font-face {
  font-family: 'apple-t';
  src: url(../fonts/AppleSDGothicNeoT.ttf);
}
@font-face {
  font-family: 'noto-black';
  src: url(../fonts/NotoSansKR-Black.otf);
}
@font-face {
  font-family: 'noto-bold';
  src: url(../fonts/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: 'noto-medium';
  src: url(../fonts/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: 'noto-regular';
  src: url(../fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: 'noto-light';
  src: url(../fonts/NotoSansKR-Light.otf);
}
@font-face {
  font-family: 'noto-thin';
  src: url(../fonts/NotoSansKR-Thin.otf);
}

.font-shadow{
  text-shadow: 5px 5px #FF9E5D, 10px 10px #FF9E5D;
}
.font-shadow2{
  text-shadow: 5px 5px #FF9E5D, 10px 10px #FF9E5D;
}
.border-c-sm{
  border-radius: 4px;
}

.shadow-custom{
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px !important;
}

.border-rainbow-1{
  background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #ebebeb 0%, #ebebeb 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.box-shadow1{
  box-shadow:rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;}
  .box-shadow2{
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.not-static-center {
  left: 50%;
  transform: translateX(-50%);
}